.main{
	height: 90vh;
}

.title {
	font-size: 40;
	color: #dabef4;
	font-weight: 700;
}

#points{
	font-size: 20;
}

#time{
	font-size: 20;
}

#mainCanvas {
    box-shadow: 2px 2px 2px 2px #dabef4;
    background-color: #e6e6e6;
}

.borderRight {
    border-right: solid 2px #ff0000;
}

.borderLeft {
    border-left: solid 2px #ff0000;
}

.borderTop {
    border-top: solid 2px #ff0000;
}

.borderBottom {
    border-bottom: solid 2px #ff0000;
}
