.main{
	height: 90vh;
}

@font-face {
    font-family: krakman;
    src: url(ARCADECLASSIC.TTF);
}

.title {
    font-family: krakman;
	font-size: 48px;
	color: #dabef4;
	font-weight: 700;
    width: 780px;
    text-align: center;
}

.toolbar {
    font-family: krakman;
    width: 780px;
    display: flex;
    justify-content: space-between;
}

.toolbar-item {
    margin: 10px 0;
}

.play-btn {
    width: 50px;
    height: 20px;
    cursor: pointer;
}

#points, #time {
	font-size: 24px;
}

#time{
	font-size: 24px;
}

#mainCanvas {
    box-shadow: 0 0 5px 5px #dabef4;
    background-color: #e6e6e6;
    width: 780px;
    height: 780px;
}

.borderRight {
    border-right: solid 2px #ff0000;
}

.borderLeft {
    border-left: solid 2px #ff0000;
}

.borderTop {
    border-top: solid 2px #ff0000;
}

.borderBottom {
    border-bottom: solid 2px #ff0000;
}
